body {
    text-align: center;
    background-image: url("/image/space-gif.webp");
    color: aliceblue;
    background-size:100%;
    font-family: 'Orbitron', sans-serif;
}
.btn {
    width: 80px;
    background: white;
    padding: 4px 8px;
    border: none;
    font-family: 'Orbitron', sans-serif;
}
.cta {
    border-bottom: 5px solid white;
}
#space-logo {
    width: 150px;
}